body{
    background-color: grey;
}

#image{
    position: relative;
    padding: 3px;
    top: 25px;
}

#name{
    background-color: rgb(199, 211, 26);
    font-size: larger;
    padding: 10px;
    border-color: black;
    border-radius: 10px;
    width: 500px;
    position: relative;
    left: 420px;
    bottom: 92px;
}

#blank{
    background-color: aliceblue;
}

#parent{
    background-color: aliceblue;
    padding: 10px;
    height:1250px;
    position: relative;
    bottom: 30px;
}

#box1{
    width:750px;
}

#box2{
    width:750px;
    position: relative;
    left: 750px;
    bottom: 1166px;
}

.child{
    font-size: 40px;
    color: skyblue;
    padding-left: 5px;
}

.sub{
    font-size: 25px;
}

table{
    width: 750px;
}

.slider{
    width: 500px;
    margin-left: 50px;
}

span{
    margin-left: 380px;
}